* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #EAEAEA;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 25px auto;
}
.addpost {
  form {
    height: 100%;
    display: grid;
    gap: 12px;
    justify-items: start;
    input, textarea {
      height: 32px;
    }
  }
}